{% extends "base.html" %}
{% block title %}Close Account{% endblock %}
{% block content %}
    <h1 class="w3-margin">Close Account</h1>
    <div class="w3-row" style="height: 600px;">
        <div style="height:350px;" class="w3-half w3-container">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="success_url" value="{{ success_url }}">

                {% for error in form.non_field_errors %}
                    <div class="w3-row w3-red">
                        {{ error }}
                    </div>
                {% endfor %}
                {% for hidden_field in form.hidden_fields %}
                    <div class="w3-row w3-blue">
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    </div>
                {% endfor %}
                <table>
                    {% for field in form.visible_fields %}
                        <tr>
                            <td class="w3-container w3-margin w3-right-align">{{ field.label_tag }}</td>
                            <td class="w3-container w3-margin"> {{ field }}</td>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <td class="w3-red"> {{ error }} </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ success_url }}">
                    <button class="w3-button-small w3-round-xlarge diy-button diy-blue" type="button">Cancel</button>
                </a>
                - or -
                <button class="w3-button-small w3-round-large subtle diy-button diy-yellow" type="submit">Close</button>
            </form>
        </div>
        <div style="height:350px;" class="w3-half w3-container">
          {% include 'stocks/includes/transaction_list.html' with xas=xas table_title=table_title%}
          <!-- Placeholder for dynamically loaded content -->
          <div id="included-content">
          </div>
        </div>
    </div>

    <script>

        function update_xas(){
           let xfer_to_id = document.getElementById("id_accounts").value

            if ( xfer_to_id !== "" ) {
                console.log(xfer_to_id)
                $.ajax({                       // initialize an AJAX request
                    url: '/stocks/api/xa_list/',
                    data: {
                        'account_id': xfer_to_id
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#included-content").html(data);  // replace the contents of the city input with the data that came from the server
                        showDiv('included-content')
                    },
                    error: function (ts) {
                        console.log(ts.responseText)
                    }
                });
            } else {
                hideDiv('included-content')
            }
        }

        $(document).ready(function() {
            hideDiv('included-content')
            document.getElementById("id_accounts").addEventListener("change", update_xas)
        });
    </script>


{% endblock %}