
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="/static/css/webui-components-standard.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Portfolio</title> <!-- Will you ever find this Scott? Is this all spaghetti?-->
</head>
{% block content %}
  <h1>New Portfolio:</h1>
  <form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Submit">
  </form>
{% endblock %}

</html>
