{% extends "base.html" %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{% block title %}Add Equity to Portfolio{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker();
        });
    </script>
{% endblock scripts %}
{% block content %}
    <h1>Add Transaction Portfolio: {{ portfolio }}</h1>
        <form method="post">{% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-secondary" name="submit-type" value="Add Another">
            <input type="submit" class="btn btn-primary" name="submit-type" value="Submit">
        </form>
{% endblock content %}