
{% extends "base.html" %}
{% block title %}{{object_type}}{% endblock %}
{% block content %}

  <div class="w3-container w3-margin">
    <h2>Delete {{object_type}}:{{object}}</h2>
      <p>{{extra_text}}</p>
  </div>
    <div class="w3-container w3-margin">
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "<b>{{ object }}</b>"?</p>
            <a href="{{cancel_url}}">
                <button class="w3-button-small w3-round-xlarge w3-light-blue" type="button">Cancel</button>
            </a>
            - or -
            <input class="w3-button-small w3-round-xlarge w3-red" type="submit" value="Delete">
        </form>
    </div>
{% endblock %}