{% extends "base.html" %}
{% block title %}IOOM Details{% endblock %}
{% load stocks_tags %}
{% block content %}
<script>
    $(document).ready(function() {
      var object_type = '{{account.container_type}}'
      var url = "{% url 'wealth_summary' %}"
      if (object_type == 'Account') {
          url = "{% url 'equity_summary' %}"
      }
      $.ajax({
            url: url,
            data: {'object_id': '{{ account.id }}',
                   'object_type': '{{ account.container_type }}'},
            success: function (data) {
                new Chart("lineChart", {
                    type: "bar",
                    data: {
                        labels: data['labels'],
                        datasets: data['datasets'],
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Account Accumulation Chart'
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            align: 'center'
                        },
                    },
                    scales: {
                        xAxes: [{
                            stacked: true // this should be set to make the bars stacked
                        }],
                    }
                });
            },
        error: function(data) {
            alert('Error occured');
        }

      });
    });
</script>
<h2 class="w3-margin">Chart view for {{object_type}}:{{account.name}}</h2>
<div class="w3-row">
    <p class="w3-margin-left">Total Funding for <b>{{object_type}}: {{object.name}}</b> is: ${{funded|floatformat:'0g'}},
        Total Redeemed is: ${{redeemed|floatformat:'0g'}} {% calc_return funded redeemed %}</p>
</div>
{% include 'stocks/includes/account_actions.html' %}
<div class="w3-row">
    <canvas id="lineChart" height=300 style="border:1px solid" >
        A line chart showing Cost vs Value over time in months.
    </canvas>
</div>
<div class="w3-container">
    {% include 'stocks/includes/account_summary_list.html' %}
</div>
{% if object_type == 'Portfolio' or object_type == 'Account' and account.account_type == 'Investment' %}
    <div class="w3-row">
        <div class="w3-container">
            {% include 'stocks/includes/equity_summary_list.html' %}
        </div>
    </div>
{% endif %}
{% endblock content %}

{% block help_content %}
<p>
    <b>Portfolio Details</b>.  This somewhat busy page is likely the most important.   The main summary is the first line,
    it has the total funding and the total funds redeemed.  That is what I refer to as the Effective Cost.
</p>
<h4>Return vs Cost</h4>
<b>Inflated cost</b>,  takes into account
    what inflation does to the value of your funds.   A 10K investment overtime should continually drop since inflation
    eats away at the value.   <b>Effective Cost</b> Is the total of Invested Funds less any dividends withdrawn regardless
    of inflation.  It should be higher than the value, or you are really loosing money.   Lastly <b>Value</b> is the
    actual value,  again regardless of inflation.
<h4>Equity Summary</h4>
This table is any equity you ever had in this portfolio.   It has the current share
<h4>Portfolio Transaction</h4>
This is the pertinent activities.  I don't include dividends, but you can see them as well as historic prices by selecting
the equity in the equity summary table.
{% endblock %}
