{% extends "base.html" %}
{% block title %}IOOM Account Data{% endblock %}
{% load stocks_tags %}
{% block content %}

<div class="w3-cell-row w3-border">
    <div class="w3-cell w3-border">
    {% if formset.errors.errors %}
        <div class="w3-panel w3-red w3-border">
            {% for dict in formset.error_messages %}
                {% for error in dict.values %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- my_template.html -->
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <input type="hidden" name="success_url" value="{{ success_url }}">
        <table class="w3-table w3-striped">
            <caption class="w3-wide">{{account.name}}<br><br>{{date_str}} Reconciliation Table</caption>
            <thead class="w3-margin-bottom" style="background:#eee;">
            <tr>
                <th class="w3-container w3-small w3-left-align">Symbol</th>
                <th class="w3-container w3-small w3-right-align">Cost</th>
                <th class="w3-container w3-small w3-right-align">Value</th>
                <th class="w3-container w3-small w3-right-align">Shares</th>
                <th class="w3-container w3-small w3-right-align">Month Close<br>Price</th></th>
                <th class="w3-container w3-small w3-right-align">Dividend per<br>Share</th></th>
                <th class="w3-container w3-small w3-right-align">Total<br>Dividends</th>
                <th></th>
            </tr>
            </thead>
            {% for form in formset %}
                {% for hidden_field in form.hidden_fields %}
                    <div class="w3-row w3-blue">
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    </div>
                {% endfor %}
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name == 'Equity' %}<td class="w3-small w3-left-align">{{ field.value}}</td>{% endif %}
                        {% if field.name == 'Cost' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                        {% if field.name == 'Value' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                        {% if field.name == 'Shares' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                        {% if field.name == 'Price' %}<td class="w3-small w3-right-align">{{ field  }}</td>{% endif %}
                        {% if field.name == 'Dividends' %}<td class="w3-small w3-right-align">{{ field }}</td>{% endif %}
                        {% if field.name == 'TotalDividends' %}<td class="3-small w3-right-align">{{ field.value }}</td>{% endif %}
                    {% endfor %}
                    <td>
                        {% if form.errors %}
                            <td class="w3-small w3-red">{{ form.errors }}</td>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="w3-container w3-margin">
        <button type="submit" class="3-button-small w3-round-xlarge diy-button diy-green">Submit</button>
        - or -
        <a href="{{success_url}}">
            <button class="w3-button-small w3-round-xlarge diy-button diy-blue" type="button">Cancel</button>
        </a>
        </div>

    </form>
    </div>
    <div class="w3-cell w3-border">
        {% include "stocks/includes/transaction_list.html" %}
    </div>
</div>

{% endblock content %}

{% block help_content %}
<p>
    <b>Portfolio Details</b>.  This somewhat busy page is likely the most important.   The main summary is the first line,
    it has the total funding and the total funds redeemed.  That is what I refer to as the Effective Cost.
</p>
<h4>Return vs Cost</h4>
<b>Inflated cost</b>,  takes into account
    what inflation does to the value of your funds.   A 10K investment overtime should continually drop since inflation
    eats away at the value.   <b>Effective Cost</b> Is the total of Invested Funds less any dividends withdrawn regardless
    of inflation.  It should be higher than the value, or you are really loosing money.   Lastly <b>Value</b> is the
    actual value,  again regardless of inflation.
<h4>Equity Summary</h4>
This table is any equity you ever had in this portfolio.   It has the current share
<h4>Portfolio Transaction</h4>
This is the pertinent activities.  I don't include dividends, but you can see them as well as historic prices by selecting
the equity in the equity summary table.
{% endblock %}
