{% extends "base.html" %}
{% block title %}IOOM Account Data{% endblock %}
{% load stocks_tags %}
{% block content %}

<div>
    {% if formset.errors.errors %}
    <div class="w3-panel w3-red">
        {% for dict in formset.error_messages %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- my_template.html -->
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="w3-table w3-striped">
            <caption class="w3-wide w3-padding-16">Reconciliation Table</caption>
            <thead class="w3-margin-bottom" style="background:#eee;">
            <tr>
                <th class="w3-container w3-small w3-left-align">Symbol</th>
                <th class="w3-container w3-small w3-right-align">Cost</th>
                <th class="w3-container w3-small w3-right-align">Value</th>
                <th class="w3-container w3-small w3-right-align">Shares</th>
                <th class="w3-container w3-small w3-right-align">Price</th>
                <th class="w3-container w3-small w3-right-align">Dividends</th>
                <th class="w3-container w3-small w3-right-align">Total<br>Dividends</th>
            </tr>
            </thead>
            {% for form in formset %}
                <tr>
                {% for field in form.visible_fields %}
                    {% if field.name == 'Equity' %}<td class="w3-small w3-left-align">{{ field.value}}</td>{% endif %}
                    {% if field.name == 'Cost' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                    {% if field.name == 'Value' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                    {% if field.name == 'Shares' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                    {% if field.name == 'Price' %}<td class="w3-small w3-right-align">{{ field.value  }}</td>{% endif %}
                    {% if field.name == 'Dividends' %}<td class="w3-small w3-right-align">{{ field.value }}</td>{% endif %}
                    {% if field.name == 'TotalDividends' %}<td class="3-small w3-right-align">{{ field.value }}</td>{% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock content %}

{% block help_content %}
<p>
    <b>Portfolio Details</b>.  This somewhat busy page is likely the most important.   The main summary is the first line,
    it has the total funding and the total funds redeemed.  That is what I refer to as the Effective Cost.
</p>
<h4>Return vs Cost</h4>
<b>Inflated cost</b>,  takes into account
    what inflation does to the value of your funds.   A 10K investment overtime should continually drop since inflation
    eats away at the value.   <b>Effective Cost</b> Is the total of Invested Funds less any dividends withdrawn regardless
    of inflation.  It should be higher than the value, or you are really loosing money.   Lastly <b>Value</b> is the
    actual value,  again regardless of inflation.
<h4>Equity Summary</h4>
This table is any equity you ever had in this portfolio.   It has the current share
<h4>Portfolio Transaction</h4>
This is the pertinent activities.  I don't include dividends, but you can see them as well as historic prices by selecting
the equity in the equity summary table.
{% endblock %}
