{% extends "base.html" %}
{% block title %}Account Equity Details{% endblock %}
{% block content %}
    <script>
        var lineChart = ''
        $(document).ready(function() {
          $.ajax({
            url: "{% url 'cost_value_chart' %}",
            data: {'object_id': '{{ account.id }}',
                   'object_type': '{{ account_type }}',
                   'symbol': '{{ equity.id }}' },
            success: function(data) {
              lineChart = new Chart("lineChart", {
                type: "line",
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                    },
                    elements: {
                        point:{
                            radius: 2
                        }
                    },

                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                      display: true,
                      text: "Return vs Cost"
                    },
                    legend: {
                        display: true,
                        position: 'top',
                        align: 'center'
                    },
                }
              });
            }
          });
        });

    </script>

    <div class="w3-container">
        <h2 class="w3-margin">{{equity.key}} - {{equity.name}}</h2>
        <h3 class="w3-margin">Details for account <a href="{% url 'account_details' account.id %}">{{account.name}}</a></h3>

        <p class="w3-margin">{{equity.symbol}}
            {% if profit %}
              has generated a net profit of
            {% else %}
              has a current cost of
            {% endif %}
            ${{funded|floatformat:'2g'}}.
            {% if dividends > 0 %}
                It as produced dividends totalling ${{dividends|floatformat:'0g'}}
            {% endif %}
        </p>

        <div  class="w3-row">
            <div style="height:350px;" class="w3-container">
                <canvas id="lineChart" class="w3-card-2"></canvas>
            </div>
        </div>
    <!--
    <div class="w3-margin">
        Select Equity for comparison chart: {{form.equity}}
        <a href="{% url 'account_details' account.id %}"><button class="w3-button-medium w3-round-large w3-orange"> Chart View</button></a>
        <a href="{% url 'account_table' account.id %}"><button class="w3-button-medium w3-round-large w3-orange"> Table View</button></a>
    </div>
    -->

        <div class="w3-row">
            <div class="w3-half w3-container w3-margin-top w3-mobile">
                <table class="w3-table w3-stripped">
                    <caption class="w3-wide w3-padding-16">Portfolio Equity Values</caption>
                    <thead class="w3-margin-bottom" style="background:#eee;">
                        <th style="width:100px">Date</th>
                        <th class="w3-hide-small">Shares</th>
                        <th class="w3-hide-small">Cost</th>
                        <th class="w3-hide-small">Value</th>
                        <th class="w3-hide-small">Dividends</th>
                        <th>Price</th>
                        <th>Avg Cost</th>
                    </thead>
                    {% for data in context %}
                        {% if data.shares != 0 %}
                            <tr>
                                <td>{{ data.date | date:'Y-M' }}</td>
                                <td class="w3-hide-small">{{data.shares|floatformat:'0g'}}</td>
                                <td class="w3-hide-small">${{data.cost|floatformat:'2g'}}</td>
                                {% if data.loss %}
                                    <td class="w3-red">
                                {% else %}
                                    <td>
                                {% endif %}
                                ${{data.value|floatformat:'2g'}}</td>

                                <td class="w3-hide-small">{% if data.total_dividends != 0 %} ${{data.total_dividends|floatformat:'2g'}} {% endif %}</td>

                                <td>${{data.price|floatformat:'2g'}}</td>
                                <td>${{data.avgcost|floatformat:'2g'}}</td>
                            </tr>
                        {% endif %}
                   {% endfor %}
                </table>
            </div>

            <div class="w3-rest w3-container w3-margin-top w3-mobile">
                {% include 'stocks/includes/transaction_list.html' %}
            </div>
        </div>
    </div>

{% endblock content %}