{% extends "base.html" %}
{% block title %}Portfolio Details{% endblock %}
{% load stocks_tags %}
    <style>
        .tcright {
        text-align: right;
        }
    </style>

{% block content %}


<script>
    $(document).ready(function() {

      $.ajax({
        url: "{% url 'cost_value_chart' %}",
        data: {'portfolio_id': {{ portfolio.id }}},
        success: function (data) {
          new Chart("lineChart", {
            type: "line",
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                elements: {
                   point:{
                       radius: 2
                  }
                },
                responsive: true,
                maintainAspectRatio: false,
                title: {
                  display: true,
                  text: "Return vs Cost"
                },
                legend: {
                    display: true,
                    position: 'top',
                    align: 'center'
                },
            }
          });
        }
      });
    });
</script>

<h2 class="w3-margin">Portfolio Details for {{portfolio.name}}</h2>
<p>Total Funding for this portfolio is: ${{funded|floatformat:'0g'}}, Total Redeemed is: ${{redeemed|floatformat:'0g'}}</p>
<div class="w3-row">
    <div style="height:350px;" class="w3-threequarter w3-container">
        <canvas id="lineChart" class="w3-card-2"></canvas>
    </div>
    <div class="w3-rest w3-container">
        <div id="documentation" class="w3-hide-small w3-container">
            The <b>Return vs Cost</b> chart displays <br>
            <ul>
                <li>Inflated Cost - How much your invested money would be worth when inflaction is factored in</li>
                <li>Effective Cost - After collecting dividends and selling stocks, how much did this really cost you (without inflation)</li>
                <li>Value - The value of the stocks in the portfolio</li>
            </ul>
        </div>
    </div>
</div>
<!--
<div class="w3-row">
    <div style="height:350px;" class="w3-threequarter w3-container">
        <canvas id="growthChart" class="w3-card-2"></canvas>
    </div>
    <div class="w3-rest w3-container">
        <div id="groth_documentation" class="w3-hide-small w3-container">
            The <b>Return vs Cost</b> chart computes the <em>Effective Cost</em> of the portfolio by subtracting the
            money returned (via dividends or sales) to the book value of the funds.
        </div>
    </div>
</div>
-->

<div class="w3-bar w3-hide-small">
    <div class="w3-bar-item w3-margin-top">
        <b>Comparison charts</b>:
    </div>
    <div class="w3-bar-item">
        <a href="{% url 'portfolio_compare' portfolio.id 'VFV.TRT'%}">
            <button class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-orange">S&P 500(ish)</button>
        </a>
    </div>
    <div class="w3-bar-item">
        <a href="{% url 'portfolio_compare' portfolio.id 'XEI.TRT'%}">
            <button class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-orange">TSX Dividend</button>
        </a><br>
    </div>
    <div class="w3-bar-item">
        <a href="{% url 'portfolio_compare' portfolio.id 'ZGQ.TRT'%}">
            <button class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-orange">BMO Global</button>
        </a>
    </div>
</div>

<div class="w3-row">
    <div class="w3-half w3-container">
        <table class="w3-table w3-border">
            <caption class="w3-wide w3-padding-16">Equity Summary</caption>
            <tr>
                <th>Equity</th>
                <th class="w3-right-align">Shares</th>
                <th class="w3-right-align">Effective<br>Cost</th>
                <th class="w3-right-align">Value</th>
                <th class="w3-right-align">Total<br>Dividends</th>
                <th>Actions</th>
            </tr>

            {% for e in portfolio.equity_keys %}
            <tr>
                <td class="indent"><a href="{% url 'portfolio_equity_details' portfolio.id e %}">{{e}}</a></td>
                <td class="w3-right-align">{% equity_value portfolio e "Shares" "{:.1f}" %}</td>
                <td class="w3-right-align">${% equity_value portfolio e "EffectiveCost" "{:.0f}" %}</td>
                <td class="w3-right-align">${% equity_value portfolio e "Value" "{:.0f}" %}</td>
                <td class="w3-right-align">${% equity_value portfolio e "TotalDividends" "{:.0f}" %}</td>
                <td>
                    <button
                            {% if can_update == False %}
                            disabled class="w3-margin-left w3-button-medium w3-round-large w3-gray"
                            {% else %}
                            class="w3-margin-left w3-button-medium w3-round-large w3-orange"
                            {% endif %}
                            id="update-{{equity.symbol}}" onclick=update("{{e}}")
                    >Update
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="w3-rest w3-container">
        <table class="w3-table w3-border">
            <caption class="w3-wide w3-padding-16">Portfolio Transactions</caption>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Type</th>
                <th>Equity<br></th>
                <th class="w3-right-align">Value</th>
                <th class="w3-center">Notes</th>
            </tr>

            {% for x in xas %}
            <tr>

                <td><a href="{% url 'transaction_delete' x.id %}"><span class="fa fa-trash"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'transaction_edit' x.id %}"><span class="fa fa-pencil"></span></a></td>
                <td>
                    {% if x.real_date %}  <!-- Real Date was added after initial data,  until I can clean up fix display -->
                        {{x.real_date}}
                    {% else %}
                        {{ x.date }}
                    {% endif %}
                </td>
                <td>{{x.action_str}}</td>

                <td>
                    {% if x.equity %}
                        {{x.equity.symbol}}
                    {% endif %}
                </td>
                <td class="w3-right-align">${{x.value|floatformat:'0g'}}</td>
                <td>
                    {% if x.equity %}
                        {% if x.price == 0 %}
                            <td>{{x.quantity|floatformat:'0g'}} shares from a stock split (no cost)</td>
                        {% else %}
                            <td>{{x.quantity|floatformat:'0g'}} shares at ${{x.price|floatformat:'2g'}}</td>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}

{% block help_content %}
<p>
    <b>Portfolio Details</b>.  This somewhat busy page is likely the most important.   The main summary is the first line,
    it has the total funding and the total funds redeemed.  That is what I refer to as the Effective Cost.
</p>
<h4>Return vs Cost</h4>
<b>Inflated cost</b>,  takes into account
    what inflation does to the value of your funds.   A 10K investment overtime should continually drop since inflation
    eats away at the value.   <b>Effective Cost</b> Is the total of Invested Funds less any dividends withdrawn regardless
    of inflation.  It should be higher than the value, or you are really loosing money.   Lastly <b>Value</b> is the
    actual value,  again regardless of inflation.
<h4>Equity Summary</h4>
This table is any equity you ever had in this portfolio.   It has the current share
<h4>Portfolio Transaction</h4>
This is the pertinent activities.  I don't include dividends, but you can see them as well as historic prices by selecting
the equity in the equity summary table.
{% endblock %}
