{% extends "base.html" %}
{% block title %}Portfolio Equity Details{% endblock %}
{% block content %}
    <h1>Portfolio: {{portfolio}}</h1>
    <h2>Target is: {{equity.name}} ({{equity.symbol}})</h2>
    <div>{{ chart|safe }}</div>
    <table>
        <tr>
            <th>Date</th>
            <th>Shares Owned</th>
            <th>Effective Cost</th>
            <th>Current Value</th>
            <th>Total Dividends</th>
            <th>Value (with Dividends)</th>
            <th>Dividend Amount</th>
            <th>Share Price</th>
            <th>Activities</th>
        </tr>
        {% for data in context %}
            <tr>
                <td>{{ data.0 }}</td>
                <td>{{data.1|floatformat:'2g'}}</td>
                <td>${{data.3|floatformat:'2g'}}</td>
                <td>${{data.2|floatformat:'2g'}}</td>

                <td>${{data.4|floatformat:'2g'}}</td>
                <td
                    {% if data.5 < 0 %}
                         class="bad-text"
                    {% endif %}>
                   ${{data.5|floatformat:'2g'}}</td>

                <td>
                    {% if data.6 == 0 %}
                        &nbsp;
                    {% else %}
                        ${{data.6|floatformat:'2g'}}
                    {% endif %}
                </td>
                <td>${{data.7|floatformat:'2g'}}</td>
                <td>{{data.8}}</td>
            </tr>
       {% endfor %}
    </table>
    <a href='portfolio><button class="button button-xs button-info">Add Portfolio</button></a>
{% endblock content %}