<table class="w3-table w3-stripped">
    <caption class="w3-wide w3-padding-16">Transactions</caption>
    <thead class="w3-margin-bottom" style="background:#eee;">
        <th></th>
        <th>Date</th>
        <th>Type</th>
        <th>Equity<br></th>
        <th class="w3-right-align">Value</th>
        <th class="w3-center">Notes</th>
    </thead>
    <!-- Doing this in two passes so that I can move the less important data to the end -->
    {% for x in xas %}
        {% if x.is_major %}
            <tr>
                <td><a href="{% url 'transaction_delete' x.id %}"><span class="fa fa-trash"></span></a>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'transaction_edit' x.id %}"><span class="fa fa-pencil"></span></a></td>
                <td>
                    {% if x.real_date %}  <!-- Real Date was added after initial data,  until I can clean up fix display -->
                        {{x.real_date}}
                    {% else %}
                        {{ x.date }}
                    {% endif %}
                </td>
                <td>{{x.action_str}}</td>
                <td>{% if x.equity %}{{x.equity.symbol}} {% endif %}</td>
                <td class="w3-right-align">{% if x.value %} ${{x.value|floatformat:'0g'}}{% endif %}</td>
                <td>
                    {% if x.equity %}
                        {% if x.price == 0 %}
                            {% if x.xa_action == 4 %}
                                {{x.quantity|floatformat:'1g'}} shares SOLD for funding
                            {% else %}
                                {{x.quantity|floatformat:'1g'}} shares split/reinvest (no cost)
                            {% endif %}
                        {% else %}
                            {{x.quantity|floatformat:'1g'}} shares at ${{x.price|floatformat:'2g'}}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr><td></td></tr>
    {% for x in xas %}
        {% if not x.is_major %}
            <tr>
            <td><a href="{% url 'transaction_delete' x.id %}"><span class="fa fa-trash"></span></a>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'transaction_edit' x.id %}"><span class="fa fa-pencil"></span></a></td>
            <td>
                {% if x.real_date %}  <!-- Real Date was added after initial data,  until I can clean up fix display -->
                    {{x.real_date}}
                {% else %}
                    {{ x.date }}
                {% endif %}
            </td>
            <td>{{x.action_str}}</td>
            <td>{% if x.equity %}{{x.equity.symbol}} {% endif %}</td>
            <td class="w3-right-align">{% if x.value %} ${{x.value|floatformat:'0g'}}{% endif %}</td>
            <td>
                {% if x.equity %}
                    {% if x.price == 0 %}
                        {% if x.xa_action == 4 %}
                            {{x.quantity|floatformat:'1g'}} shares SOLD for funding
                        {% else %}
                            {{x.quantity|floatformat:'1g'}} shares split/reinvest (no cost)
                        {% endif %}
                    {% else %}
                        {{x.quantity|floatformat:'1g'}} shares at ${{x.price|floatformat:'2g'}}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

