{% extends "base.html" %}
{% block title %}Upload Transactions{% endblock title %}
{% block content %}
    <h2 class="w3-margin">Upload Transactions</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w3-row w3-red">
            {{ form.non_field_errors }}
        </div>
        {% for hidden_field in form.hidden_fields %}

            <div class="w3-row w3-blue">
                {{ hidden_field.errors }}
                {{ hidden_field }}
            </div>
        {% endfor %}

        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td class="w3-container w3-cell w3-right">{{ field.label_tag }}</td>
                    <td class="w3-container w3-cell">{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green" type="submit">Import CSV</button> This may take a moment. Please be patient.
    </form>

    {% if custom_error %}
        <div class="w3-container w3-red">
            <h2>Errors</h2>
            {{ custom_error }}
        </div>
    {% endif %}
    {% if custom_warnings %}
        <div class="w3-container w3-orange">
            <h2>Warnings (skipped lines from CSV upload)</h2>
                {{ custom_warnings }}
        </div>
    {% endif %}
    <a href="{% url 'portfolio_list' %}"><button style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green">Portfolio List</button></a>
    return to the portfolio list
{% endblock content %}