{% extends "base.html" %}
{% block title %}Upload Transactions{% endblock title %}


{% block content %}
    <script>
        $(document).ready(function() {

        document.getElementById("submit-btn").addEventListener("click", function() {
            // event.preventDefault()
            var spinner_text = document.getElementById("spinner-text");
            spinner_text.style.display = "block";
            var t = setInterval(function() {
                var ele = document.getElementById('spinner-text');
                ele.style.opacity = (ele.style.opacity == 0 ? 1 : 0);
                }, 1000);
    });
        });
</script>
    <h2 class="w3-margin">Upload Transactions</h2>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w3-row w3-red">
            {{ form.non_field_errors }}
        </div>
        {% for hidden_field in form.hidden_fields %}

            <div class="w3-row w3-blue">
                {{ hidden_field.errors }}
                {{ hidden_field }}
            </div>
        {% endfor %}

        <table>
            {% for field in form.visible_fields %}
                <tr>
                    <td class="w3-container w3-cell w3-right">{{ field.label_tag }}</td>
                    <td class="w3-container w3-cell">{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button id="submit-btn" style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green" type="submit">Import CSV</button>
        <span id="spinner-text" style="display: none;" class="w3-margin-left spinner">Loading - This may take a moment. Please be patient.</span>

    </form>

    {% if custom_error %}
        <div class="w3-container w3-red">
            <h2>Errors</h2>
            {{ custom_error }}
        </div>
    {% endif %}
    {% if custom_warnings %}
        <div class="w3-container w3-orange">
            <h2>Warnings (skipped lines from CSV upload)</h2>
                {{ custom_warnings }}
        </div>
    {% endif %}
    <a href="{% url 'stocks_main' %}"><button style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green">Account List</button></a>
    return to the account list
{% endblock content %}