{% extends "base.html" %}
{% block title %}IOOM Reconcile {{account.name}}{% endblock %}
{% load stocks_tags %}
{% block content %}

<div>
    <h2 class="w3-margin">Data view for Account:{{account.name}}</h2>
    <div class="w3-cell-row w3-border">
        <div class="w3-cell w3-border">
            {% include 'stocks/includes/account_actions.html' %}
            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {% if formset.errors.errors %}
                    <div class="w3-panel w3-red">
                        {% for dict in formset.error_messages %}
                            {% for error in dict.values %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                     </div>
                {% endif %}

                <div class="w3-responsive table-container">

                <table class="w3-table w3-striped w3-bordered tableFixHead">

                    <caption class="w3-wide w3-padding-16">Reconciliation Table</caption>
                    <thead class="w3-margin-bottom" style="background:#eee;">

                        <td class="w3-container w3-small w3-left-align">Date</td>
                        <td class="w3-container w3-small w3-left-align">Reported Date</td>

                        <td class="w3-container w3-small w3-right-align">Value</td>
                        <td class="w3-container w3-small w3-right-align">Data Source</td>

                        <td class="w3-container w3-small w3-right-align">Deposited</td>
                        <td class="w3-container w3-small w3-right-align">Withdrawn</td>

                    </thead>
                    {% for form in formset %}

                        <tr>
                        {% for field in form.visible_fields %}
                            {% if field.name == 'date' %}<td class="w3-small w3-left-align">{{ field }}</td>{% endif %}
                            {% if field.name == 'reported_date' %}<td class="w3-small w3-left-align">{{ field }}</td>{% endif %}
                            {% if field.name == 'value' %}<td class="w3-small w3-right-align">{{ field }}</td>{% endif %}
                            {% if field.name == 'source' %}<td class="w3-small w3-right-align">{{ field }}</td>{% endif %}
                            {% if field.name == 'deposited' %}<td class="w3-small w3-right-align">{{ field }}</td>{% endif %}
                            {% if field.name == 'withdrawn' %}<td class="w3-small w3-right-align">{{ field }}</td>{% endif %}
                        {% endfor %}
                            {% if form.errors %}<td class="w3-red">{{form.errors}}</td>{% endif %}
                        </tr>
                    {% endfor %}
                </table>
                </div>
                <button class="w3-margin-right w3-button-small w3-round-large diy-button diy-green" type="submit">Submit</button>

                 <a href="{% url 'account_details' account.id %}">
                    <button class="w3-button-small w3-round-large diy-button diy-red">Cancel</button></a>
            </form>
        </div>
        {% if xas %}
        <div>
            {% include "stocks/includes/transaction_list.html" %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}

