<div>
    <p>
        <b>Accounts</b> are the basis for all wealth management. They can hold equities, ETFs, Mutual Funds. They can be
        and "Investment" account,  holding Equities,  ETF or Mutual Funds.  They can be your "Bank" account or even
        a "Value" account.
    </p>
    <ul>
        <li><b>Investment</b> Accounts hold Mutual Funds, Equities etc., each thing contained in an investment
            account will have shares, prices, dividends and whether updated via API (as in the case of Equities/ETFs)
            or via account uploads or even manually by you.
        </li>
        <li><b>Bank</b> Accounts hold money, money is added and removed via Funding or Redeeming Transactions. No
            provisions are in place for interest
        </li>
        <li><b>Value</b> Accounts hold <i>THINGS</i> I can't track. They are also Funded and Redeemed via
            Transactions but any growth reported as a separate Value Transaction. They
            are useful for GIC accounts, Mutual funds that are not well reported.
        </li>
    </ul>
    <p>
        <b>Portfolios</b> are a mechanism to track accounts that either coexist for the same purpose such as After Tax
        accounts or historically track to the same ultimate goal, such as your retirement funds that your transfer
        as you move between different employers.
    </p>
</div>