
<div>
    {% if equity_list_data %}
        <table class="w3-table w3-striped">
            <caption class="w3-wide w3-padding-16">Equity Summary</caption>
            <thead class="w3-margin-bottom" style="background:#eee;">
                <tr>
                    <th class="w3-container w3-small w3-left-align">Symbol</th>
                    <th class="w3-container w3-small w3-right-align ">Shares</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Current<br>Price</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Effective<br>Price</th>
                    <th class="w3-container w3-small w3-right-align">Total Cost</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Effective<br>Cost</th>
                    <th class="w3-container w3-small w3-right-align">Value</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Total<br>Dividends</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Realized<br>Gain</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Realized<br>Percent</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Unrealized<br>Gain</th>
                    <th class="w3-container w3-small w3-right-align w3-hide-small">Unrealized<br>Percent</th>

                </tr>
            </thead>
            {% for item in equity_list_data %}
                <tr>
                    <td class="w3-left-align w3-small ">
                        {% if object_type == 'Account' %}
                            <a href="{% url 'account_equity_details' object_type account.id item.Object_ID %}">{{ item.Equity }}</a>
                        {% else %}
                        <a href="{% url 'account_equity_details' object_type account.id item.Object_ID %}">{{ item.Equity }}</a>
                        {% endif %}
                    </td>
                    <td class="w3-right-align w3-small">
                        {% if item.Shares == 0 %}<em>Closed</em>{% else %}{{ item.Shares | floatformat:'1g'}}{% endif %}
                    </td>
                    <td class="w3-right-align w3-small w3-hide-small">${{ item.Price | floatformat:'2g'}}</td>
                    <td class="w3-right-align w3-small w3-hide-small">${{ item.AvgCost | floatformat:'2g'}}</td>
                    <td class="w3-right-align w3-small">${{ item.Cost | floatformat:'0g'}}</td>
                    <td class="w3-right-align w3-small w3-hide-small">-</td>
                    {% if item.Value == 0 %}
                        <td></td>
                    {% else %}
                        <td class="w3-right-align w3-small">${{ item.Value | floatformat:'0g'}}</td>
                    {% endif %}
                    {% if item.TotalDividends == 0 %}
                        <td class="w3-hide-small"></td>
                    {% else %}
                        <td class="w3-right-align w3-small w3-hide-small">${{ item.TotalDividends | floatformat:'0g'}}</td>
                    {% endif %}
                    {% if item.RelGain == 0 %}
                        <td class="w3-right-align w3-small"></td>
                    {% elif item.RelGain > 0 %}
                        <td class="w3-right-align w3-small">${{item.RelGain | floatformat:'0g'}}</td>
                    {% else %}
                        <td class="w3-right-align w3-small w3-text-red">${{item.RelGain | floatformat:'0g'}}</td>
                    {% endif %}
                    {% if item.RelGainPct == 0 %}
                        <td class="w3-right-align w3-small"></td>
                    {% elif item.RelGainPct > 0 %}
                        <td class="w3-right-align w3-small">{{item.RelGainPct | floatformat:'2g'}}%</td>
                    {% else %}
                        <td class="w3-right-align w3-small w3-text-red">{{item.RelGainPct | floatformat:'2g'}}%</td>
                    {% endif %}
                    {% if item.UnRelGain == 0 %}
                        <td class="w3-right-align w3-small"></td>
                    {% elif item.UnRelGain > 0 %}
                        <td class="w3-right-align w3-small">${{item.UnRelGain | floatformat:'0g'}}</td>
                    {% else %}
                        <td class="w3-right-align w3-small w3-text-red">${{item.UnRelGain | floatformat:'0g'}}</td>
                    {% endif %}
                    {% if item.UnRelGainPct == 0 %}
                        <td class="w3-right-align w3-small"></td>
                    {% elif item.UnRelGainPct > 0 %}
                        <td class="w3-right-align w3-small">{{item.UnRelGainPct | floatformat:'2g'}}%</td>
                    {% else %}
                        <td class="w3-right-align w3-small w3-text-red">{{item.UnRelGainPct | floatformat:'2g'}}%</td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="w3-row w3-yellow">
                <p>No Equity Summary data found</p>
        </div>
    {% endif %}
</div>