{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% block content %}
<div class="w3-content w3-pale-yellow" style="max-width:2000px;margin-top:46px">
    <h2>Update Expenses - {{count}}</h2>

<form method="post" id="itemForm" data-subcategories-url="{% url 'ajax-load-subcategories' %}" novalidate>
    {% csrf_token %}
    {% include 'expenses/expenses_search_bar.html' %}

    {{ formset.management_form }}
    {% for dict in formset.errors %}
        {% for error in dict.values %}
            {{ error }}
        {% endfor %}
    {% endfor %}
    <table id="formset" class="table form">
        {% for form in formset.forms %}
            {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {{ field.errors.as_ul }}
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button class="w3-margin-left w3-margin-top w3-button w3-round-xlarge w3-margin-top w3-green" type="submit">Save</button>
</form><br><br>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
      var url = $("#itemForm").attr("data-subcategories-url");
      $('.diy-category').each(function(index, element) {
         var this_id = this.id.slice(8, this.id.length - 9); // id_form-X-category -> X
         var this_hash_id = '#' + this.id
         $(this_hash_id).change(function () {  // $('#' + this.id).change(function () {
            var categoryId = $(this).val();
            $.ajax({
              url: url,
              data: {
                'category': categoryId
              },
              success: function (data) {
                var subcatid = '#id_form-' + this_id + '-subcategory';
                $(subcatid).html(data);  // replace the contents
              }
            });
         });
      });
    });
</script>

{% endblock %}