{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
          var url = $("#itemForm").attr("data-subcategories-url");  // Setup mousedown to fetch valid data for choice
          $('.item-list-subcategory').each(function(index, element) {
             var row_id = this.id.slice(8, this.id.length - 12);  // Just the number part
             var subcat_id = '#' + this.id  // Seems this must be part of the id, not just prepended
             var cat_id = '#id_form-' + row_id + '-category';
             $(subcat_id).mousedown(function () {
                var category_value = $(cat_id).val();
                $.ajax({
                  url: url,
                  data: {
                    'category': category_value,
                  },
                  success: function (data) {
                    $(subcat_id).html(data);  // replace the contents
                  }
                });
             });
          });

          $('.item-list-category').each(function(index, element) {  // Invalidate subcategory when category changed
             document.getElementById(this.id).addEventListener("change", function() {
                var row_id = this.id.slice(8, this.id.length - 9);  // Just the number part
                // var cat_id = '#' + this.id  // Seems this must be part of the id, not just prepended
                var subcat_id = '#id_form-' + row_id + '-subcategory';
                $(subcat_id).html('<option value="">---------</option>');
             });
          });
        });
    </script>
{% endblock script %}
{% block content %}

    {{ formset.management_form }}
    {% if formset.errors.errors %}
      <div class="w3-panel w3-red">
        {% for dict in formset.error_messages %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    <table id="formset" class="table form">
        {% for form in formset.forms %}
            {% if forloop.first %}
            <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for field in form.visible_fields %}
                    <td>
                        {# Include the hidden fields in the form #}
                        {% if forloop.first %}
                            <a href="{% url 'expense_delete' form.instance.id %}"><i class="fa fa-trash"></i></a>

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}


                        {{ field.errors.as_ul }}
                        {% if field.name == 'description' %}
                            <a href="{% url 'expense_edit' form.instance.id %}">{{field}}</a>
                        {% else %}
                            {{ field }}
                        {% endif %}

                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <button class="w3-margin-left w3-margin-top w3-button w3-round-xlarge w3-margin-top w3-green" type="submit">Save</button>
{% endblock %}