{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
          var url = $("#itemForm").attr("data-subcategories-url");  // Setup mousedown to fetch valid data for choice
          $('.item-list-subcategory').each(function(index, element) {
             var row_id = this.id.slice(8, this.id.length - 12);  // Just the number part
             var subcat_id = '#' + this.id  // Seems this must be part of the id, not just prepended
             var cat_id = '#id_form-' + row_id + '-category';
             $(subcat_id).mousedown(function () {
                var category_value = $(cat_id).val();
                $.ajax({
                  url: url,
                  data: {
                    'category': category_value,
                  },
                  success: function (data) {
                    $(subcat_id).html(data);  // replace the contents
                  }
                });
             });
          });

          $('.item-list-category').each(function(index, element) {  // Invalidate subcategory when category changed
             document.getElementById(this.id).addEventListener("change", function() {
                var row_id = this.id.slice(8, this.id.length - 9);  // Just the number part
                // var cat_id = '#' + this.id  // Seems this must be part of the id, not just prepended
                var subcat_id = '#id_form-' + row_id + '-subcategory';
                $(subcat_id).html('<option value="">---------</option>');
             });
          });
        });
    </script>
{% endblock script %}
{% block content %}
    <div id="expense_list" class="w3-row">
       {{ formset.management_form }}
        {% if formset.errors.errors %}
            <div class="w3-panel w3-red">
                {% for dict in formset.errors %}
                    {% for error in dict.values %}
                        <div class="w3-container w3-deep-orange w3-text-color-black">
                            {{error}}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}


        <table>
            {% for form in formset.forms %}
                {% if forloop.first %}
                <thead>
                <tr>
                    {% for field in form.visible_fields %}
                        {% if field.name == 'category' or field.name == 'subcategory' or field.name == 'ignore' %}
                            <th class="w3-hide-small">
                        {% else %}
                            <th>
                        {% endif %}
                        {{ field.label|capfirst }}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% endif %}
                <tr>
                    {% for field in form.visible_fields %}
                        <!--
                        {# Include the hidden fields in the form #}

                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        -->
                        {{ field.errors.as_ul }}

                        {% if field.name == 'date' %}
                            <td style="width:95px">{{form.instance.date | date:'Y-m-d'}}</td>
                        {% elif  field.name == 'description' %}
                            <td><a href="{% url 'expense_edit' form.instance.id %}">{{form.instance.description}}</a></td>
                        {% elif  field.name == 'amount' %}
                            <td>${{form.instance.amount | floatformat:2 }}</td>
                        {% else %}
                            <td class="w3-hide-small">{{ field }}</td>
                        {% endif %}

                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button class="w3-button-medium w3-round-xlarge w3-orange w3-margin" type="Save">Save List</button>
        </div>
{% endblock %}