{% load static %}
{% block search_script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
      document.getElementById("id_search_category").addEventListener("change", function() {
         var category_id = document.getElementById("id_search_category")
         var subcategory_id = document.getElementById("id_search_subcategory")
         var category = $(category_id).val()

         $.ajax({
            url: '{% url 'ajax-load-subcategories-search' %}',
            data: {category: category},
            success: function(data) {
                $(subcategory_id).html(data);
                },
            error: function(ts) {
                console.log(ts.responseText)
                }
            })  // ajax
        });  // add event
    });  // document ready
</script>
{% endblock search_script %}

{% block content %}
    {% if search_form  %}
        {% if search_form.errors %}
            <div class="w3-panel w3-red">
                {{search_form.errors}}
            </div>
        {% endif %}
        <div class="w3-bar">
            <div class="w3-bar-item w3-input w3-hide-small">
                Hidden:<br>{{search_form.search_ignore}}
            </div>
            <div class="w3-bar-item w3-input">
                Category:<br>{{search_form.search_category}}
            </div>
            <div class="w3-bar-item w3-input">
                Subcategory:<br>{{search_form.search_subcategory}}
            </div>

            <div class="w3-bar-item w3-input w3-hide-small">
                Search From:<br>{{search_form.search_start_date}}
            </div>
            <div class="w3-bar-item w3-input w3-hide-small">
                Search Until:<br>{{search_form.search_end_date}}
            </div>
            <div class="w3-bar-item w3-input w3-hide-small">
                Amount:<br>{{search_form.search_amount_qualifier}}{{search_form.search_amount}}
            </div>
            <div class="w3-bar-item w3-input">
                Description:<br>{{search_form.search_description}}
            </div>
            <button type="Save" class="w3-bar-item w3-button w3-round-xlarge w3-margin-top w3-light-blue">Reapply Filter</button>
        </div>
    {% endif %}
{% endblock %}
