{% extends "base.html" %}
{% block title %}Download Expenses{% endblock title %}


{% block content %}
    <script>
        function set_spinner() {
            var spinner_text = document.getElementById("spinner-text");
            spinner_text.style.display = "block";
        }
        function clear_spinner() {
            var spinner_text = document.getElementById("spinner-text");
            spinner_text.style.display = "none";
        }
    </script>
    <h2 class="w3-margin">Download Expenses</h2>
        <p class="w3-margin">Select the Download button to receive a csv file that contains all the data we have on your account.
            This data can be reimported safely, or
        you can use it for your own enjoyment.<br><br>
        Your accounts currently hold {{expenses}} expense items,  {{income}} income items and is hiding {{hidden}} items.</p>
        <div class="w3-margin">
            <p><a href="{% url 'export_expense_page' %}"><button onclick="set_spinner()" class="w3-button-medium w3-round-large w3-orange"> Download </button></a>
                <span id="spinner-text" style="display: none;" class="spinner">Exporting - This may take a moment. Please be patient.</span>
            </p>
        </div>

{% endblock content %}