{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
  <h1>{{view_verb}} Template:</h1>
  <form action="" method="post">
    {% csrf_token %}
   <!-- <label for="id_expense">Expense Description:</label>  <input type="text" name="expense" id="id_expense"><br>
    <label for="id_template">Template Expression:</label> <input type="text" name="template" id="id_template"><br>-->
    {{ form.as_p}}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}