{% extends "base.html" %}
{% block title %}Delete Expense{% endblock %}
{% block content %}
    {% for error in form.non_field_errors %}
        <div class="w3-row w3-red">
            {{ error }}
        </div>
    {% endfor %}
    {% for hidden_field in form.hidden_fields %}
        <div class="w3-row w3-blue">
            {{ hidden_field.errors }}
            {{ hidden_field }}
        </div>
    {% endfor %}

    <h2>{{ action }} Expense Item</h2>

    <form method="post">
        {% csrf_token %}
        <table>
            <tr class="w3-margin">
                <td>Date:</td>
                <td><b>{{ object.date | date:'Y-m-d' }}</b></td>
            </tr>
            <tr class="w3-margin">
                <td>Description:</td>
                <td><b>{{ object.description }}</b></td>
            </tr>
            <tr class="w3-margin">
                <td>Amount:</td>
                <td><b>{{ object.amount | floatformat:2 }}</b></td>
            </tr>
        </table>

        <p>A deleted item will be gone forever (unless you import it again).<br>Maybe you just want to Ignore
            it?<br><br>
            <a href="{% url 'expense_main' %}">
                <button class="w3-button-small w3-round-xlarge w3-light-blue" type="button">Cancel</button>
            </a>
            - or -
            <input class="w3-button-small w3-round-xlarge w3-red" type="submit" value="Delete">
    </form>
{% endblock %}
