{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% load expenses_tags %}


{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#id_category").change(function () {
          var url = $("#itemForm").attr("data-subcategories-url");
          var categoryId = $(this).val();  // get the selected Category ID from the HTML input

          $.ajax({                       // initialize an AJAX request
            url: url,    // set the url of the request (= localhost:8000/expenses/ajax/load-subcategories/)
            data: {
              'category': categoryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
        });
    });
    </script>

    <h2>{{action}} Expense Item</h2>
    <form method="post" id="itemForm" data-subcategories-url="{% url 'ajax-load-subcategories' %}" novalidate>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="w3-row w3-red">
            {{ error }}
        </div>
    {% endfor %}
    {% for hidden_field in form.hidden_fields %}
        <div class="w3-row w3-blue">
            {{ hidden_field.errors }}
            {{ hidden_field }}
        </div>
    {% endfor %}
    <table>
        {% if object.amortized %}
        <tr>
            <td class="w3-container w3-margin w3-right-align">Parent Item:</td>
            <td class="w3-container w3-margin">
                <a href="{% url 'expense_edit' object.amortized.id %}">{{object.amortized.description}}</a>
            </td>
        {% endif %}
        </tr>
        {% for field in form.visible_fields %}
            <tr>
                <td class="w3-container w3-margin w3-right-align">{{ field.label_tag }}</td>
                <td class="w3-container w3-margin"> {{ field }}</td>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <td class="w3-red w3-round-xlarge"> {{ error }} </td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <button style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green" type="submit">Submit</button>
    </form>
    {% if children %}
         <table class="w3-margin">
             <thead>
             <tr>
                 <th>Amortized Date</th>
                 <th>Amount</th>
                 <th>Description</th>
                 <th>Category</th>
                 <th>Subcategory</th>
                 <th>Ignored</th>
             </tr>
             </thead>
            {% for child in children %}
                <tr>
                    <td style="width:95px">{{child.date | date:'Y-m-d'}}</td>
                    <td>${{child.amount | floatformat:2 }}</td>
                    <td><a href="{% url 'expense_edit' child.id %}">{{child.description}}</a></td>
                    <td>{{child.category}}</td>
                    <td>{{child.subcategory}}</td>
                    <td>{{child.ignore}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
