{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% load expenses_tags %}
{% load static %}

{% block content %}
    <div class="w3-container">
    {% if warnings %}
    <div class="w3-row w3-yellow">
        <p>{{warnings}} - <a href="{% url 'expenses_assign' %}">Assign Expense Categories</a> </p>
    </div>
    {% endif %}

    <form method="post" id="itemForm"
          data-subcategories-url="{% url 'ajax-load-subcategories' %}"
          novalidate>
        {% csrf_token %}
        <div class="w3-row">
            {% include 'expenses/includes/expenses_search_bar.html' %}
        </div>
        <div class="w3-cell-row w3-margin">
            <div class="w3-cell">
                <div style="height:310px;" >
                    <canvas id="pieChart"></canvas>
                    <p>Total: ${{total | floatformat:'0g'}}</p>
                </div>

            </div>
            <div class="w3-cell">
                <div style="height:310px;">
                    <canvas id="barChart"></canvas>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div id="expense_list">
                {% include 'expenses/includes/expenses_list.html' %}
            </div>
        </div>
    </form>
</div>

    <script src="{% static 'expenses.js' %}"></script>
    <script>
        $(document).ready(function() {
            expense_chart('bar', 'barChart', 'Stacked - Expenses over time', false);
            expense_chart('pie', 'pieChart', 'Breakdown - by Category', false)
        });
    </script>
{% endblock %}
