{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% load expenses_tags %}

{% block content %}
{% block main_scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        function bar_chart(search_data, title_text, canvas) {

            $.ajax({
                url: "{% url 'ajax-expense-bar' %}",
                data: search_data,
                success: function (data) {
                    new Chart(canvas,
                        {
                            type: "bar",
                            data: {
                                labels: data['labels'],
                                datasets: data['datasets']
                            },
                            options: {
                                maintainAspectRatio: false,
                                responsive: true,
                                title: {
                                  display: true,
                                  text: title_text
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    align: 'center'
                                },
                            },
                            scales: {
                                xAxes: [{
                                    stacked: false // this should be set to make the bars stacked
                                }],
                                yAxes: [{
                                    stacked: true // this also..
                                }]
                            }

                    });
                }
            });
        };

        function pie_chart(search_data, title_text, canvas) {
            $.ajax({
                url: "{% url 'ajax-expense-pie' %}",
                data: search_data,
                success: function (data) {
                      new Chart(canvas, {
                            type: "pie",
                            data: {
                                labels: data['labels'],
                                datasets: [{
                                  data: data['data'],
                                  backgroundColor: data['colors'],
                                }]
                            },
                            options: {
                                responsive: false,
                                maintainAspectRatio: false,
                                title: {
                                  display: true,
                                  text: 'foobar'
                                },
                                animation: {
                                    animateScale: true,
                                    animateRotate: true
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    align: 'center'
                                }  // legend
                            }  // options
                      })  // chart
                } // success
              });  // ajax
        } // function


        function expense_chart(type, canvas, text, income = false) {
              var data = {
                'search_category': $("#id_search_category").val(),
                'search_subcategory': $("#id_search_subcategory").val(),
                'search_ignore': $("#id_search_ignore").val(),
                'search_start_date': $("#id_search_start_date").val(),
                'search_end_date': $("#id_search_end_date").val(),
                'search_amount': $("#id_search_amount_qualifier").val(),
                'search_amount_qualifier': $("#id_search_amount").val(),
                'search_description': $("#id_search_description").val(),
                'income': income
              }

              if (type == 'bar') {
                  bar_chart(data, text, canvas);
              } else {
                  pie_chart(data, text, canvas);
              }
        }

        $(document).ready(function() {
            expense_chart('bar', 'barChart', 'Stacked - Expenses over time', false);
            expense_chart('pie', 'pieChart', 'Breakdown - by Category', false)
            expense_chart('bar', 'incomeBar', 'Stacked - Income over time', true);
            expense_chart('pie', 'incomePie', 'Breakdown - by Category', true)

        });
    </script>
{% endblock main_scripts %}

    <div class="w3-container">
        {% if warnings %}
            <div class="w3-row w3-yellow">
                <p>{{warnings}} - <a href="{% url 'expenses_assign' %}">Assign Expense Categories</a> </p>
            </div>
        {% endif %}
        <form method="post" id="itemForm"
              data-subcategories-url="{% url 'ajax-load-subcategories' %}"
              novalidate>
            {% csrf_token %}
            <div class="w3-row">
                {% include 'expenses/expenses_search_bar.html' %}
            </div>
            <div class="w3-cell-row w3-margin">
                <div class="w3-cell">
                    <div style="height:310px;" >
                        <canvas id="pieChart" class="w3-card-2"></canvas>
                        <p>Total: ${{total | floatformat:2}}</p>
                    </div>

                </div>
                <div class="w3-cell">
                    <div style="height:310px;">
                        <canvas id="barChart" class="w3-card-2"></canvas>
                        <p>Expense breakdown over time</p>
                    </div>
                </div>
            </div>
            <div class="w3-cell-row w3-margin">
                <div class="w3-cell">
                    <div style="height:310px;" >
                        <canvas id="incomePie" class="w3-card-2"></canvas>
                        <p>Total: ${{total | floatformat:2}}</p>
                    </div>

                </div>
                <div class="w3-cell">
                    <div style="height:310px;">
                        <canvas id="incomeBar" class="w3-card-2"></canvas>
                        <p>Expense breakdown over time</p>
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div id="expense_list">
                    {% include 'expenses/expenses_list.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block help_content %}
<p>
    <b>Welcome to "Cash"</b>.  Track your expenses and income over time.   This is as close as we get to a budget application.
    Coming soon will be the ability to compare your expenses to national averages.
    <!-- todo: You can also compare your spending vs national averages and aggregated data from other users -->
</p>
<p>
    <b>A few basics before we start</b>.  One of the desktop actions is "Import",  this is the only sane way to use the cash application.
    I import my credit card and bank statements, I rarely use cash but if I do I can add a single item with
    the "New Entry" action.  Both of this are under the CASH drop down on the top of you screen.   The
    formats I support are based on my bank,  CIBC. If you want me to add yours you got to
    <a href="D1Yapp.ca@gmail.com">send me</a> a faked up CSV file.
</p>
<h4>The Data</h4>
<p>
    This page by default shows the last 7 years of none hidden data.  You can change the date range (or clear the values) using the
    filters and then hitting "Reapply Filter".   The concept behind hidden records is some expense data you may not want
    to process.  For example,  when I pay bills it shows up on my banks statement,  I do not want to add that as an
    expense since I already have the expense via my credit card bill.  So I "hide" it.
    I could delete <i class="fa fa-trash"></i> it, but if I ever reimport
    that data it will show up again.
    The other filters are pretty self-explanatory the only caveat to point out is description will search that string
    anywhere in the description or in the notes.  It is also case-insensitive so searching on "ottawa",  will find both "Ottawa Hydro" and
    "the ottawa Little theatre" One <em>bug/feature</em> is that doing the reapply filter will also process and
    records in the table below the charts.
</p>
<h4>The Charts</h4>
<p>I provide two charts,  the first is a pie chart.  It is breakdown of all expenses in the selected time period,  below
that chart you will see how much you spend in that time period. <b>Yikes!</b><br>The second chart is a breakdown
month over month on your spending by category.  If you filter on category,  you will get the month over month on
subcategory.</p>
<h4>The Table</h4>
<p>The table is a list of the expenses, matching the filters order by date.   You can reassign categories,  you can deside to hide
    the record,  you can add notes and even delete the record.   If you select (click in) the description you can preform
    extra actions on the expense.  These include <b>Split</b> and <b>Level</b>.  Help on that is on the action itself.
</p>
{% endblock %}
