{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% load expenses_tags %}

{% block content %}
    {% block main_scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            function toggleDiv(divId) {
                var div = document.getElementById(divId);
                if (div.style.display === "none") {
                    div.style.display = "block";
                    document.getElementById('id_show_list').value = "Show";
                } else {
                    div.style.display = "none";
                    document.getElementById('id_show_list').value = "Hide";
                }
            }
        </script>
        <script>
            $(document).ready(function() {
              var hide_value = "{{ search_form.show_list.value }}"
              if (hide_value == "Hide") {
                toggleDiv("expense_list")
              }
            });
        </script>
        <script>
            $(document).ready(function() {
              var cat_filter = $("#id_search_category").val();
              var sub_filter = $("#id_search_subcategory").val();
              var ignore_filter = $("#id_search_ignore").val();
              var from_filter = $("#id_search_start_date").val();
              var to_filter = $("#id_search_end_date").val();
              var amt_string = $("#id_search_amount_qualifier").val();
              var amt_value = $("#id_search_amount").val();
              var description = $("#id_search_description").val();

              $.ajax({
                url: "{% url 'ajax-expense-bar' %}",
                data: {'search_category': cat_filter,
                       'search_subcategory': sub_filter,
                       'search_ignore': ignore_filter,
                       'search_start_date': from_filter,
                       'search_end_date': to_filter,
                       'search_amount_qualifier': amt_string,
                       'search_amount': amt_value,
                       'search_description': description},
                success: function (data) {
                  new Chart("barChart", {
                    type: "bar",
                    data: {
                        labels: data['labels'],
                        datasets: data['datasets']
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        title: {
                          display: true,
                          text: "Expense breakdown over time"
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            align: 'center'
                        },
                        scales: {
                            xAxes: [{
                                stacked: true // this should be set to make the bars stacked
                            }],
                            yAxes: [{
                                stacked: true // this also..
                            }]
                        }
                    }
                  });
                }
              });
            });
        </script>

        <script>
            $(document).ready(function() {
              var cat_filter = $("#id_search_category").val();
              var sub_filter = $("#id_search_subcategory").val();
              var ignore_filter = $("#id_search_ignore").val();
              var from_filter = $("#id_search_start_date").val();
              var to_filter = $("#id_search_end_date").val();
              var amt_string = $("#id_search_amount_qualifier").val();
              var amt_value = $("#id_search_amount").val();
              var description = $("#id_search_description").val();

              $.ajax({
                url: "{% url 'ajax-expense-pie' %}",
                data: {'search_category': cat_filter,
                       'search_subcategory': sub_filter,
                       'search_ignore': ignore_filter,
                       'search_start_date': from_filter,
                       'search_end_date': to_filter,
                       'search_amount_qualifier': amt_string,
                       'search_amount': amt_value,
                       'search_description': description},

                success: function (data) {
                  new Chart("pieChart", {
                    type: "pie",
                    data: {
                        labels: data['labels'],
                        datasets: [{
                          data: data['data'],
                          backgroundColor: data['colors'],
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        title: {
                          display: true,
                          text: "Expenses - breakdown by category"
                        },
                        animation: {
                            animateScale: true,
                            animateRotate: true
                        },
                        legend: {
                            display: true,
                            position: 'right',
                            align: 'center'
                        },

                    }
                  });
                }
              });
            });
        </script>
    {% endblock main_scripts %}

    <div class="w3-container">
        {% if warnings %}
            <div class="w3-row w3-yellow">
                <p>{{warnings}} - <a href="{% url 'expenses_assign' %}">Assign Expense Categories</a> </p>
            </div>
        {% endif %}
        <form method="post" id="itemForm"
              data-subcategories-url="{% url 'ajax-load-subcategories' %}"
              sub-search-url="{% url 'ajax-load-subcategories-search' %}"
              cat-search-url="{% url 'ajax-load-categories-search' %}"
              novalidate>
            {% csrf_token %}
            <div class="w3-row">
                {% include 'expenses/expenses_search_bar.html' %}
            </div>
            <div class="w3-cell-row w3-margin">
                <div class="w3-cell">
                    <div style="height:310px;" >
                        <canvas id="pieChart" class="w3-card-2"></canvas>
                        <p>Total: ${{total | floatformat:2}}</p>
                    </div>

                </div>
                <div class="w3-cell">
                    <div style="height:310px;">
                        <canvas id="barChart" class="w3-card-2"></canvas>
                        <p>Expense breakdown over time</p>
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div id="expense_list">
                    {% include 'expenses/expenses_list.html' %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block help_content %}
<p>
    <b>Welcome to expenses</b>.  The purpose of this application is to give you the ability to track your expenditures over
    time allowing you to see how you are doing (kind of like budget?).  <!-- todo: You can also compare your spending
    vs national averages and aggregated data from other users -->
</p>
<p>
    <b>A few basics before we start</b>.  One of the actions is "Import a CSV File",  this is the only sane way to use this
    system.   I import my credit card and bank statements, I rarely use cash but if I do I can add a single item with
    the "Add an Expense" action.  Both of this are under the EXPENSES drop down on the top of you screen.   The
    formats I support are based on my bank,  CIBC. If you want me to add yours you got to
    <a href="D1Yapp.ca@gmail.com">send me</a> a faked up CSV file.
</p>
<h4>The Data</h4>
<p>
    This page by default shows the last 7 years of none hidden data.  You can change the date range (or clear the values) using the
    filters and then hitting "Reapply Filter".   The concept behind hidden records is some expense data you may not want
    to process.  For example,  when I pay bills it shows up on my banks statement,  I do not want to add that as an
    expense since I already have the expense via my VISA bill.  So I "hide" it.
    I could delete <i class="fa fa-trash"></i> it, but if I ever reimport
    that data it will show up again.
    The other filters are pretty self-explanatory the only caveat to point out is description will search that string
    anywhere in the description.  It is also case-insensitive so searching on "ottawa",  will find both "Ottawa Hydro" and
    "the ottawa Little theatre" One <em>bug/feature</em> is that doing the reapply filter will also process and
    records in the table below the charts.
</p>
<h4>The Charts</h4>
<p>I provide two charts,  the first is a pie chart.  It is breakdown of all expenses in the selected time period,  below
that chart you will see how much you spend in that time period. <b>Yikes!</b><br>The second chart is a breakdown
month over month on your spending by category.  If you filter on category,  you will get the month over month on
subcategory.</p>
<h4>The Table</h4>
<p>The table is a list of the expenses, matching the filters order by date.   You can reassign categories,  you can deside to hide
    the record,  you can add notes and even delete the record.   If you select (click in) the description you can preform
    extra actions on the expense.  These include <b>Split</b> and <b>Amortize</b>.  Help on that is on the action itself.
</p>
{% endblock %}
