{% extends "base.html" %}
{% block title %}Template Form{% endblock %}
{% load expenses_tags %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#id_category").change(function () {
          var url = $("#itemForm").attr("data-subcategories-url");
          var categoryId = $(this).val();  // get the selected Category ID from the HTML input

          $.ajax({                       // initialize an AJAX request
            url: url,    // set the url of the request (= localhost:8000/expenses/ajax/load-subcategories/)
            data: {
              'category': categoryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
              $("#id_subcategory").html(data);  // replace the contents of the city input with the data that came from the server
            }
          });
        });
    });
    </script>

    <h2>{{action}} Template</h2>
    <form method="post" id="itemForm" data-subcategories-url="{% url 'ajax-load-subcategories' %}" novalidate>
        {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="w3-row w3-red">
            {{ error }}
        </div>
    {% endfor %}
    {% for hidden_field in form.hidden_fields %}
        <div class="w3-row w3-blue">
            {{ hidden_field.errors }}
            {{ hidden_field }}
        </div>
    {% endfor %}
    <table>
        {% for field in form.visible_fields %}
            <tr>
                <td class="w3-container w3-margin w3-right-align">{{ field.label_tag }}</td>
                <td class="w3-container w3-margin"> {{ field }}</td>
                {% if field.errors %}
                    <td class="w3-red w3-round-xlarge">
                    {% for error in field.errors %}
                         {{ error }}
                    {% endfor %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <button style="width:125px" class="w3-margin w3-button-medium w3-round-large w3-margin-top w3-green" type="submit">Submit</button>

    </form>

{% endblock %}
{% block help_content %}
<p>
    <b>Expense Form</b>.  This form is used to Add a new expense or alter an existing one.   The behaviours differ, so
    I will document both of them for you.
</p>
<h4>Add Expense Item</h4>
When Adding a new expense you must provide the Date,  the Amount,  the Description.  You may assign categories or even
set it to be ignored.
<h4>Edit Expense Item</h4>
When Editing an expense you can not alter the Date,  the Amount,  or the Description.  You may assign categories or
set it to be ignored/hidden.<br><br>
<b>Amortize</b> Some expense are so large they skew that charts.   My best example of this is buying a car (with cash),
this causes that month to go through the roof,  making all other months data impossible to read.   The two obvious
solutions are <ol><li>Ignore/Hide the record - Fixes the charts, but it would then skew how much I spend on transportation</li>
<li>Amortize It - Spreed the joy out over a longer period of time</li></ol>The choice is yours.  With amortization, you
can spread the "payments" over the past months the future months or both.   My personal preference is to spread it out
over the past months like I had been saving up for it all along.   Actually I was but that's not the point here.
<br><br>
<b>Split</b> Sometimes you may want to assign multiple categories to an expense.  This can be done via the split
action.   Enter the amount you want to split-off and give it a new description.   This will make two new items and
automatically hide the first.
<br><br>
In both cases elect the <button class="w3-button-small w3-round-large w3-green">Submit</button>
to have the record processed.

{% endblock %}
