{% extends "base.html" %}
{% block title %}Expense Assignment{% endblock %}
{% load expenses_tags %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function() {
          var url = $("#itemForm").attr("data-subcategories-url");

          var category_id = document.getElementById("id_category")
          var subcategory_id = document.getElementById("id_subcategory")

          subcategory_id.addEventListener("mousedown", function() {
            var category = $(category_id).val()
            $.ajax({
              url: url,
              data: {
                'category': category,
              },
              success: function (data) {
                $(subcategory_id).html(data);  // replace the contents
              }
            });
          });
        });
    </script>
{% endblock script %}

{% block content %}
    <div class="w3-row">
        <div class="w3-third">
             <h2>Update Template</h2>
        </div>
        <div class="w3-third">
        </div>
        <div class="w3-third">
            <a href="{% url 'expense_main' %}"><button class="w3-button-medium w3-round-xlarge w3-light-blue w3-margin">Return to Main</button></a>
        </div>
    </div>

    <div class="w3-container">
        <form method="post" id="itemForm" data-subcategories-url="{% url 'ajax-load-subcategories' %}" novalidate>
            {% csrf_token %}
            <div class="w3-row w3-margin">
                {{ template_form.as_table}}
                <input class="w3-button-medium w3-round-xlarge w3-orange w3-margin-left" type="submit" value="Submit">
            </div>
            <div class="w3-row w3-margin-top">
                <h2>Expense List</h2>
                    {% include 'expenses/expenses_list.html' %}
            </div>
        </form>
    </div>
{% endblock content %}

{% block help_content %}
<h3>Updating Templates</h3>
  Updating a template will only impact future imports.<br><br>
                    Once an expense is assigned a category/subcategory
                    or to be ignored it will remain regardless of the template changes.<br><br>
                    You may choose to manually override
                    the template values via the <b>Expense Item List</b>.
{% endblock %}
