{% extends "base.html" %}
{% block title %}Expense Templates{% endblock %}
{% block content %}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<div class="w3-row">
    <div class="w3-third">
         <h2>Template List</h2>
    </div>
    <div class="w3-third">
        <p>Click on heading to sort the table</p>
    </div>
    <div class="w3-third">
        <a href="{% url 'expense_main' %}"><button class="w3-bar-item w3-button w3-round-xlarge w3-margin w3-light-blue">Return to Main</button></a>
    </div>
</div>

<!--   <table class="sortable table table-bordered table-accent-1 table-striped table-hover width-full col-padding-sm text-sm">-->
<table class="sortable table table-striped table-accent-1 width-full col-padding-md text-sm">
    <tr class="w3-margin-bottom">

        <th width="7%"></th>
        <th width="7%"></th>
        <th width="5%">Type</th>
        <th width="30%">Expression</th>
        <th>Used</th>
        <th>Category</th>
        <th>Subcategory</th>
        <th width="5%">Ignore</th>
        <th>Spent</th>

    </tr>
    {% for template in templates %}
        <tr>
            <td><a href="{% url 'template_edit' template.id %}"><button class="w3-button-small w3-round-large w3-orange">Update</button></a></td>
            <td><a href="{% url 'template_delete' template.id %}"><button class="w3-button-small w3-round-large w3-red">Delete</button></a></td>

            <td>{{template.type}}</td>
            <td>{{template.expression}}</td>
            <td>{{template.count}}</td>
            <td>{{template.category}}</td>
            <td>{{template.subcategory}}</td>
            <td>{{template.ignore}}</td>
            <td>{{template.amount|floatformat:'2g'}}</td>
        </tr>
   {% endfor %}
</table>

{% endblock %}