{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <div class="w3-cell-row">
        <div id="import-form" class="w3-cell">
            <h2>Import Expenses</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                <div class="w3-grid" style="grid-template-columns:200px 400px auto;">
                    <div class="w3-padding w3-right-align">{{ form.upload_file.label_tag }}</div>
                    <div class="w3-padding">{{ form.upload_file }}</div>
                    <div class="w3-padding">{{ form.upload_file.errors }}</div>

                    <div class="w3-padding w3-right-align">{{ form.has_headings.label_tag }}</div>
                    <div class="w3-padding">{{ form.has_headings }}</div>
                    <div class="w3-padding">{{ form.has_headings.errors }}</div>
                    <div class="w3-padding" style="grid-column:1/span 2">
                    <button class="w3-border w3-margin w3-button-medium w3-round-large w3-margin-top w3-green"
                        type="submit">Submit
                    </button>
                </div>
        </div>
                <!-- todo: Add a progress bar -->
                This typically takes about 5 seconds per 1000 records. Please be patient.
            </form>
        </div>
        <div class="w3-cell">
            Without the ability to <b>Upload</b> content this system would be too arduous to use. The
            <b>Cash</b> Application supports Excel format(<em>.xls, xlsx</em>),  OpenOffice (<em>.ods</em>) and Comma
            Seperated Value (<em>.csv</em>) files as upload input.
            <br>
            In all cases the data is stored in 'rows' of 'columns'.   If your input data has headings on the columns (
            aka a <em>header row</em>),  then indicated it as such in this form.
            <br><br>
            The system will attempt to process your data by reading the column headers or the actual data.  If it
            can not be determined what each column is,  you will be prompted for guidance and/or conformation.
            <br><br>If you are crafting your own data.   The following columns are required:
            <ul>
                <li><b>Date</b>: Format is YYYY-MM-DD as in 2024-09-27</li>
                <li><b>Description</b>: This is the description of the transaction</li>
                <li><b>Amount</b>: A Decimal number,  negative items indicate a refund or return.</li>
                <li><em>Instead of Amount,  you may provide a 'Debit' and a 'Credit' column</em></li>
            </ul>
            The following columns are optional:
            <ul>
                <li><b>Category</b>: Must match the predefined IOOM categories</li>
                <li><b>SubCategory</b>: If not already defined it will be added during the import</li>
                <li><b>Hidden</b>: Keep a record but do not process this data</li>
                <li><b>Details</b>: Internal information such as Credit Card Key</li>
                <li><b>Notes</b>: Arbitrary text (that will be searchable)</li>
            </ul>
            <p>This is the same format used by the <b>Cash</b> Export action.</p>
        </div>
    </div>
    </div class=w3-row>
        {% if custom_error %}
            <a href="{% url 'expense_ignored' %}">
                <button class="rounded spaced menu-button-primary">Review Ignored</button>
            </a><br>
            <div class="alert alert-danger">
                <h2>Errors</h2>
                {{ custom_error }}
            </div>
        {% endif %}
    </div>
{% endblock content %}