{% extends "base_bs.html" %}
{% load static %}
{% block title %}Expense Upload{% endblock %}
{% block content %}
    <h2>Upload - Confirm Columns</h2>

    {%  if errors %}
        <div class="w3-container w3-pink w3-margin">{{ errors }}</div>
    {%  endif %}

    <form method="post" id="itemForm" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for dict in formset.error_messages %}
            {% for error in dict.values %}
                {{ error }}
            {% endfor %}
        {% endfor %}
        <div class="table-responsive">
            <table class="table w-auto table-borderless">
                <tr>{% for form in formset.forms %}<th>{{form.heading}}<br>{{form.heading.errors}}</th>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example0}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example1}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example2}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example3}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example4}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example5}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example6}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example7}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example8}}</td>{% endfor %}</tr>
                <tr>{% for form in formset.forms %}<td>{{form.example9}}</td>{% endfor %}</tr>
            </table>
        </div>
        <button class="w3-margin-left w3-margin-top w3-button w3-round-xlarge w3-margin-top w3-green" name="submit-type"
                value="Save" type="submit">Submit
        </button>
    </form>
{% endblock %}

