{% extends "base.html" %}
{% block title %}DIY New Password{% endblock %}

{% block content %}
  {% if validlink %}
      <h1 class="w3-margin-top">Set a new password!</h1>
      <form class="w3-margin_bottom" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Set my password">
      </form>
  {% else %}
    <p class="w3-margin_bottom">
      The password link was invalid, possibly because it has already been used.
      Please request a new password reset.</p>
  {% endif %}
{% endblock %}
