{% extends "base.html" %}
{% block title %}IOOM{% endblock %}
{% block navbar%}
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <p class="w3-conainer w3-margin-left">Password Change</p>
    </div>
</div>
{% block content %}
{% include 'base/blahblah.html' %}
<div class="w3-container">
    <p>We have emailed you instructions for setting your password,
        if an account exists with the email you entered. You should receive them shortly.
    If you don’t receive an email, please check your spam folder</p>
</div>
{% endblock %}
