<div class="w3-container">
  <p>It's Only yOur Money, is a website designed to track your day-to-day income/expenses as well as your long term wealth.  It is not a
    site for evaluation of equities,  mutual funds, or ETFs.   I do not purport to have any knowledge of the markets,  I am a software developer
    not a financial expert.  Equity Values are only updated at the end of the day (most days).</p>
  <p>This site is free,  I don't track your whereabouts,  I don't sell your data,  I don't have any advertisements.   If any of these change
    I will inform you.</p>
  <hr>
</div>