{% extends "base.html" %}
{% load static %}


{% block content %}
<p class="w3-small">Today - Week - Month - YTD, 1 Year - 3 Years - 5 Years - All</p>
    <p>Welcome {{ request.user }}</p>
    <form method="post" id="itemForm" novalidate>
        {% csrf_token %}

        {% if form.errors %}
            <div class="w3-panel w3-red">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="w3-container w3-cell w3-cell-bottom">
            Period:<br>{{ form.period }}
        </div>
        <div class="w3-container w3-cell w3-cell-bottom">
            Years:<br>{{ form.years }}
        </div>
        <div class="w3-container w3-cell w3-cell-bottom">
            Show Trends:<br>{{ form.show_trends }}
        </div>
        <div class="w3-container w3-cell w3-cell-bottom">
            <button style="width:100px" class="w3-button-small w3-round-large subtle diy-button diy-green"
                    type="submit">Submit
            </button>
        </div>
    </form>

    <div class="w3-container w3-cell-row">
        <div class="w3-cell w3-mobile w3-half">
            <canvas id="cashChart"></canvas>
        </div>
        <div class="w3-cell w3-mobile w3-half">
            <canvas id="wealthPie"></canvas>
        </div>
    </div>
    <script src="{% static 'base.js' %}"></script>
    <script>

        $(document).ready(function () {
            cash_flow_chart("{% url 'cash_flow_data' %}", "{{trends}}", "{{period}}", "{{span}}")
            build_wealth_pie("{% url 'wealth_pie' %}")
        });
    </script>
{% endblock content %}