{% extends "base.html" %}

{% block content %}
<p>Welcome {{ request.user }}</p>
<div class="w3-container w3-cell-row">
    <div class="w3-cell s12 m6 l4">
        <canvas height=25 width=50 id="myChart" class="w3-card-4"></canvas>
    </div>
    <div class="w3-cell w3-cell-middle">
        <p>This is the breakdown by category for every expense</p>
    </div>
</div>

<script>
    $(document).ready(function() {
      $.ajax({
        url: '/expenses/ajax/expense-pie',

        data: {'search_ignore': 'No',
               'search_start_date': '{{from_date}}'
                },
        success: function (data) {
          new Chart("myChart", {
            type: "pie",
            data: {
                labels: data['labels'],
                datasets: [{
                  data: data['data'],
                  backgroundColor: data['colors'],
                }]
            },
            options: {
                title: {
                  display: true,
                  text: "Expenses - breakdown by category"
                },
                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                legend: {
                    display: true,
                    position: 'right',
                    align: 'center'
                },

            }
          });
        }
      });
    });
</script>
{% endblock content %}