{% extends "base.html" %}
{% block title %}DIY Login{% endblock %}

{% block content %}
    <p class="w3-margin-top">We’ve emailed you instructions for setting your password, you should receive them shortly.
    Once you have confirmed your email by following the instructions in the email, you will have access to all the
    DIY applications on our site.   Enjoy!</p>

    <p class="w3-margin-bottom">If you don’t receive an email, please check your spam folder.   If you still do not
    find an email from us,  then use the contact the site admin.</p>

{% endblock %}
