{% extends "base.html" %}
{% block title %}DIY Login{% endblock %}
{% block help_content %}
<p>I do not do anything with this info and if I ever do,  I will tell you.</p>
<p>It is all pretty common information asks,  the only thing out of the ordinary is you can provide your own ALPHA VANTAGE API Key.
Having your own key will allow you to force a stock price update.   The keys are free but limited to 25 calls a
day.   Here is the <a href="https://www.alphavantage.co/">Alpha Vantages</a> website</p>
{% endblock %}

<!-- todo: Ugly page -->
{% block content %}
    <p class="w3-margin-top">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    <form class="w3-margin-bottom" method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}<label>Email address:</label>{{ form.email }}
            </div>
            <div class="form-row field-currency">
                {{ form.currency.errors }}<label>Your Currency:</label>{{ form.currency }}
            </div>

            <div class="form-row">
                {{ form.first_name.errors }}<label>First Name:</label>{{ form.first_name }}
            </div>

            <div class="form-row">
                {{ form.last_name.errors }}<label>Last Name:</label>{{ form.last_name }}
            </div>
            <div class="form-row">
                {{ form.av_api_key.errors }}<label>AV API Key:</label>{{ form.av_api_key }}
            </div>

            <input type="submit" value="Submit">
        </fieldset>
    </form>


{% endblock %}
