{% extends "wealth_base.html" %}
{% block title %}{% if title %}{{title}}{% else %}IOOM Data{% endif %}{% endblock %}

{% block content %}
    {% include 'wealth/includes/wealth_summary_header.html' %}
    <div>
        {% include 'wealth/includes/actions.html' %}
    </div>
    {% include 'wealth/includes/data_chart.html' %}
    <div>
        {% include 'wealth/includes/range.html' %}
    </div>
    {% if not container or container.container_type == 'Portfolio' %}
        {% include './includes/wealth_summary_list.html' %}
    {% endif %}
    {% if positions_list %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% include 'wealth/includes/wealth_data_list.html' %}
                </div>
                <div class="col">
                    {% include 'wealth/includes/positions_list.html' %}
                </div>
            </div>
        </div>
    {% else %}
        {% include 'wealth/includes/wealth_data_list.html' %}
    {% endif %}
{% endblock content %}