{% extends "wealth_base.html" %}
{% block title %}{% if title %}{{title}}{% else %}IOOM Wealth{% endif %}{% endblock %}

{% block content %}
    {% include 'wealth/includes/wealth_summary_header.html' %}
    <div>
        {% include 'wealth/includes/actions.html' %}
    </div>
    <div>
        {% include './includes/range.html' %}
    </div>
    {% include 'wealth/includes/detail_chart.html' %}
    {% if not container or container.container_type == 'Portfolio' %}
        {% include './includes/wealth_summary_list.html' %}
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                     {% include './includes/wealth_investment_list.html' %}
                </div>
                {% include './includes/wealth_transaction_list.html' %}
            </div>
        </div>
    {% endif %}
{% endblock content %}