{% extends "wealth_base.html" %}
{% load static %}
{% load tz %}
{% block title %}{% if title %}{{title}}{% else %}IOOM Wealth{% endif %}{% endblock %}

{% block content %}
    {% include 'wealth/includes/wealth_summary_header.html' %}
    {% include 'wealth/includes/actions.html' %}

    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#ioom_chart">
        <i class="bi bi-chevron-up"></i>
    </button>
    <div class="collapse" id="ioom_chart">
        <div style="height: 300px;">
            <canvas id="lineChart" aria-label="Chart"></canvas>
        </div>
    </div>
    <div>
        {% include 'wealth/includes/range.html' %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="left-scroll">
                    <form method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% if formset.errors.errors %}
                        <div class="w3-panel w3-red">
                            {% for dict in formset.error_messages %}
                                {% for error in dict.values %}
                                    {{ error }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="pt-2">
                        <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                        <a class="btn btn-outline-warning btn-sm" href="">Cancel</a>
                     </div>

                    <table class="table table-striped caption-top">
                        <caption>Equity Data - Account {{account}} Symbol {{symbol}}</caption>
                        {% for form in formset.forms %}
                            {% if forloop.first %}
                                <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                        <th
                                            {% if field.help_text %}
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="{{ field.help_text }}"
                                                class="help-cell"
                                            {% endif %}>
                                        {{ field.label }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% if form.initial.altered %}altered-row{% endif %}">
                                {% for field in form.visible_fields %}
                                        <td>
                                            {{ field }}
                                        </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>

                    <div class="pt-2">
                        <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                        <a class="btn btn-outline-warning btn-sm" href="">Cancel</a>
                    </div>

                </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="right-panel">
                    <div id="right-table">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            summary_chart("{{ range }}", "{{container.container_type}}", "{{container.id}}")
            const selectedDate = sessionStorage.getItem('selectedReconciliationDate');
            const selectedAcct = sessionStorage.getItem('selectedReconciliationAcct');
            if (selectedDate) {
                const row = document.querySelector(`.reconciliation-row[data-date="${CSS.escape(selectedDate)}"]`);
                if (!row) return;

                row.scrollIntoView({
                    behavior: 'instant',
                    block: 'center'
                });

                // Re-load the right panel for this row
                fetch(`/wealth/account/${selectedAcct}/reconcile/${selectedDate}/month/`)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById("right-table").innerHTML = html;
                        });

                sessionStorage.removeItem('selectedReconciliationDate');
            }
            document.querySelectorAll(".reconciliation-row").forEach(function (row) {

                row.addEventListener("click", function () {

                    //const reconcileDate = this.dataset.date;
                    const reconcileDate = this.querySelector('input[name$="-Date"]').value;
                    const reconcileAcct = "{{ account.id }}";
                    sessionStorage.setItem('selectedReconciliationDate', reconcileDate);
                    sessionStorage.setItem('selectedReconciliationAcct', reconcileAcct);

                    fetch(`/wealth/account/${reconcileAcct}/reconcile/${reconcileDate}/month/`)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById("right-table").innerHTML = html;
                        });

                });

            });

        });
    </script>



{% endblock content %}